
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Annokset</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Annokset:</h1>
        <ul>
            <li th:each="annos : ${annokset}">
                <a th:href="@{~/annos/{id}(id=${annos.id})}">
                    <span th:text="${annos.nimi}">Annos</span>
                </a>
            </li>         
        </ul>
        <ul>
            <li>
                <a href="/aineet">Muokkaa raaka-aineita </a>
            </li>
            <li>
                <a href="/uusiannos">Luo uusi annos </a>
            </li>
        </ul>
    </body>
</html>